<br>
        <div class="row">
            <div class="col-6 col-md-4 col-sm-6 ">
                <div class="media">
                    <img src="../../../assets/img/aries.png" class="mr-1" alt="aries">
                    <div class="media-body">
                        <div class="alert alert-dark" role="alert">
                            Aries
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-sm-6">
                <div class="media">
                    <img src="../../../assets/img/leo.png" class="mr-1" alt="leo">
                    <div class="media-body">
                        <div class="alert alert-dark" role="alert">
                            Leo
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-sm-6">
                <div class="media">
                    <img src="../../../assets/img/sagitario.png" class="mr-1" alt="sagitario">
                    <div class="media-body">
                        <div class="alert alert-dark" role="alert">
                            Sagitario
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-sm-6">
                <div class="media">
                    <img src="../../../assets/img/tauro.png" class="mr-1" alt="tauro">
                    <div class="media-body">
                        <div class="alert alert-dark" role="alert">
                            Tauro
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-sm-6">
                <div class="media">
                    <img src="../../../assets/img/virgo.png" class="mr-1" alt="virgo">
                    <div class="media-body">
                        <div class="alert alert-dark" role="alert">
                            Virgo
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-sm-6">
                <div class="media">
                    <img src="../../../assets/img/capricornio.png" class="mr-1" alt="capricornio">
                    <div class="media-body">
                        <div class="alert alert-dark" role="alert">
                            Capricornio
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-sm-6">
                <div class="media">
                    <img src="../../../assets/img/geminis.png" class="mr-1" alt="geminis">
                    <div class="media-body">
                        <div class="alert alert-dark" role="alert">
                            Geminis
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-sm-6">
                <div class="media">
                    <img src="../../../assets/img/libra.png" class="mr-1" alt="libra">
                    <div class="media-body">
                        <div class="alert alert-dark" role="alert">
                            Libra
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-sm-6">
                <div class="media">
                    <img src="../../../assets/img/acuario.png" class="mr-1" alt="acuario">
                    <div class="media-body">
                        <div class="alert alert-dark" role="alert">
                            Acuario
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-sm-6">
                <div class="media">
                    <img src="../../../assets/img/cancer.png" class="mr-1" alt="cancer">
                    <div class="media-body">
                        <div class="alert alert-dark" role="alert">
                            Cáncer
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-sm-6">
                <div class="media">
                    <img src="../../../assets/img/escorpio.png" class="mr-1" alt="escorpio">
                    <div class="media-body">
                        <div class="alert alert-dark" role="alert">
                            Escorpio
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-sm-6">
                <div class="media">
                    <img src="../../../assets/img/piscis.png" class="mr-1" alt="piscis">
                    <div class="media-body">
                        <div class="alert alert-dark" role="alert">
                            Piscis
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-12">
            <div class="card bg-dark text-white-50">
                <div class="card-header text-white">Aries Dia</div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            {{signo.description}}
                        </div>
                        <img src="../../../assets/img/aries.png" class="ml-3" alt="aries">
                    </div>
                </div>
            </div>
        </div>
       
        <br>

        <div class="col-12">
            <div class="card bg-dark text-white-50">
                <div class="card-header text-white">Leo Dia</div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            {{signo1.description}}
                        </div>
                        <img src="../../../assets/img/leo.png" class="ml-3" alt="leo">
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="col-12">
            <div class="card bg-dark text-white-50">
                <div class="card-header text-white">Sagitario Dia</div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            {{signo2.description}}
                        </div>
                        <img src="../../../assets/img/sagitario.png" class="ml-3" alt="sagitario">
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="col-12">
            <div class="card bg-dark text-white-50">
                <div class="card-header text-white">Tauro Dia</div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            {{signo3.description}}
                        </div>
                        <img src="../../../assets/img/tauro.png" class="ml-3" alt="tauro">
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="col-12">
            <div class="card bg-dark text-white-50">
                <div class="card-header text-white">Virgo Dia</div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            {{signo4.description}}
                        </div>
                        <img src="../../../assets/img/virgo.png" class="ml-3" alt="virgo">
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="col-12">
            <div class="card bg-dark text-white-50">
                <div class="card-header text-white">Capricornio Dia</div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            {{signo4.description}}
                        </div>
                        <img src="../../../assets/img/capricornio.png" class="ml-3" alt="capricornio">
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="col-12">
            <div class="card bg-dark text-white-50">
                <div class="card-header text-white">Geminis Dia</div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            {{signo4.description}}
                        </div>
                        <img src="../../../assets/img/geminis.png" class="ml-3" alt="geminis">
                    </div>
                </div>
            </div>
        </div>
        <br>
        
        <div class="col-12">
            <div class="card bg-dark text-white-50">
                <div class="card-header text-white">Libra Dia</div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            {{signo4.description}}
                        </div>
                        <img src="../../../assets/img/libra.png" class="ml-3" alt="libra">
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="col-12">
            <div class="card bg-dark text-white-50">
                <div class="card-header text-white">Acuario Dia</div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            {{signo4.description}}
                        </div>
                        <img src="../../../assets/img/acuario.png" class="ml-3" alt="Acuario">
                    </div>
                </div>
            </div>
        </div>
        <br>
    
        <div class="col-12">
            <div class="card bg-dark text-white-50">
                <div class="card-header text-white">Cáncer Dia</div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            {{signo4.description}}
                        </div>
                        <img src="../../../assets/img/cancer.png" class="ml-3" alt="cancer">
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="col-12">
            <div class="card bg-dark text-white-50">
                <div class="card-header text-white">Escorpio Dia</div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            {{signo4.description}}
                        </div>
                        <img src="../../../assets/img/escorpio.png" class="ml-3 " alt="escorpio">
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="col-12">
            <div class="card bg-dark text-white-50">
                <div class="card-header text-white">Piscis Dia</div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            {{signo4.description}}
                        </div>
                        <img src="../../../assets/img/piscis.png" class="ml-3" alt="piscis">
                    </div>
                </div>
            </div>
        </div>
