<nav class="navbar navbar-expand-lg navbar-dark badge-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span>
        <a class="navbar-brand" [routerLink]="['']">
            <img  src="../../../assets/img/icon_pluma.png" width="30" height="30" alt="logo">
        </a >
        <span class="text-white-50"> JUJUY NEWS</span>
    </span>

    <div class="collapse navbar-collapse justify-content-end" id="opciones">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['']"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['cotizacion']"><i class="fas fa-money-bill-alt"></i> Cotizacion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['horoscopo']"><i class="fas fa-yin-yang"></i> Horóscopo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['covid']"><i class="fas fa-viruses"></i> Estadisticas covid-19</a>
            </li>
        </ul>
    </div>
</nav>
