<div class="row bg-secondary">
    <section class="col-md-9">
        <h2 class="text-center text-white-50">Latest News</h2>
        <div class="row row-cols-1">
            <div class="col-md-6">
                <div class="card bg-dark text-white-50">
                    <img src="{{noticias[0]['img']}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="badge badge-danger">{{noticias[0]['aut']}}</h5>
                        <p [innerHTML]="noticias[0]['tit']"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-dark text-white-50">
                    <img src="{{noticias[1]['img']}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="badge badge-danger">{{noticias[1]['aut']}}</h5>
                        <p [innerHTML]="noticias[1]['tit']"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-dark text-white-50">
                    <img src="{{noticias[2]['img']}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="badge badge-danger">{{noticias[2]['aut']}}</h5>
                        <p [innerHTML]="noticias[2]['tit']"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-dark text-white-50">
                    <img src="{{noticias[3]['img']}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="badge badge-danger">{{noticias[3]['aut']}}</h5>
                        <p [innerHTML]="noticias[3]['tit']"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-dark text-white-50">
                    <img src="{{noticias[4]['img']}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="badge badge-danger">{{noticias[4]['aut']}}</h5>
                        <p [innerHTML]="noticias[4]['tit']"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-dark text-white-50">
                    <img src="{{noticias[5]['img']}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="badge badge-danger">{{noticias[5]['aut']}}</h5>
                        <p [innerHTML]="noticias[5]['tit']"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-dark text-white-50">
                    <img src="{{noticias[6]['img']}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="badge badge-danger">{{noticias[6]['aut']}}</h5>
                        <p [innerHTML]="noticias[6]['tit']"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-dark text-white-50">
                    <img src="{{noticias[7]['img']}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="badge badge-danger">{{noticias[7]['aut']}}</h5>
                        <p [innerHTML]="noticias[7]['tit']"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-dark text-white-50">
                    <img src="{{noticias[8]['img']}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="badge badge-danger">{{noticias[8]['aut']}}</h5>
                        <p [innerHTML]="noticias[8]['tit']"></p>
                    </div>
                </div>
            </div> <div class="col-md-6">
                <div class="card bg-dark text-white-50">
                    <img src="{{noticias[9]['img']}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="badge badge-danger">{{noticias[9]['aut']}}</h5>
                        <p [innerHTML]="noticias[9]['tit']"></p>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <aside class="col-md-3">
        <br>
        <br>
        <img src="../../../assets/img/01_vertical-banner.jpg" class="card-img-top" alt="Publicidad">
    </aside>
</div>